@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

button {
  transition: all 0.3s ease-in-out;
}

button:focus {
  outline: none;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: scale(1.05);
}

h1 {
  transition: color 0.3s ease-in-out;
}

h1:hover {
  color: #d4bff9;
}
